<div class="creation-wrapper">
  <div class="creation-container">
    <div class="creation-body">
      <div class="title">
        <h1>Cocktail Creation</h1>
      </div>
      <span><%= render 'form', cocktail: @cocktail %></span>
    </div>
    <span class="btn-neon"><%= link_to "Back", cocktails_path %></span>
  </div>
</div>




